body {
	font-family: Arial, Helvetica, sans-serif;
}
#container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 1em;
}
.column {
	width: 40%;
	margin: 1em;
}
section {
	padding: 25px 20px 25px 20px;
}
#data-input {
	border: 3px solid black;
}
#data-input form {
	display: flex;
	flex-direction: column;
	line-height: 1.5em;
}
#headline-display {
	border: 3px solid black;
	min-height: 20vh;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

#data-output pre {
	padding: 10px;
	background: #f4f4f4;
	border-left: 3px solid #2622f3;
	color: #666;
	font-family: monospace;
	font-size: 15px;
	line-height: 1.6;
}
