body {
	font-family: Arial, Helvetica, sans-serif;
}
#container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 60px;
}
.column {
	width: 40%;
	margin: 1em;
}
section {
	padding: 25px 20px 25px 20px;
}
#data-input {
	border: 3px solid black;
}
#data-input form {
	display: flex;
	flex-direction: column;
	line-height: 22px;
}
#headline-display {
	border: 3px solid black;
	min-height: 20vh;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
